<div class="notice notice-error is-dismissible">
    PublishPress Checklist requires <a href="https://wordpress.org/plugins/publishpress" target="_blank">PublishPress</a></strong> 1.3.0 or later. Please, update.
</div>