#pp_checklist_meta em {
    color: #afafaf;
}

.pp-checklist-req.status-yes * {
    color: #66bb6a;
}

.pp-checklist-req.status-no * {
    color: #ef5350;
    font-weight: bold;
}

.pp-checklist-small-input {
    width: 50px;
}

.pp-checklist-medium-input {
    width: 60px;
}

.pp-checklist-action-label {
    margin-left: 25px;
}

.pp-checklist-modal-list {
    text-align: center;
}

.pp-checklist-modal-list ul {
    text-align: left;
    list-style: square;
    display: inline-block;
}

.pp-checklist-warning-icon {
    font-size: 30px;
    padding-top: 1px;
    width: 30px;
    height: 30px;
    color: #ef5350;
}

.pp-checklist-requirements-settings {
    width: 100%;
    max-width: 800px;
}

.pp-checklist-requirements-settings th {
    width: auto;
}

.pp-checklist-custom-item {
    cursor: pointer;
}

.pp-checklist-custom-item .dashicons {
    border: 1px solid silver;
    border-radius: 4px;
}
