# Docker container name
CONTAINER_NAME="publishpress-checklists"

# Docker image name
TERMINAL_IMAGE_NAME="publishpress/dev-workspace-terminal:publishpress-checklists"

# Path to the cache directory for the dev-workspace
CACHE_PATH="./.cache"

# The slug of the plugin to be tested.
PLUGIN_SLUG="publishpress-checklists"

# The domain of the plugin to be tested.
LANG_DOMAIN="publishpress-checklists"

# The directory of the language files.
LANG_DIR="languages"

# OpenAI API key
OPENAI_API_KEY=sk-proj-your-openai-key

# WebLate API token
WEBLATE_API_TOKEN=wlu_your-weblate-token

LANG_LOCALES="de_DE es_ES fi fil fr_FR id_ID it_IT ja ko_KR nl_NL pt_BR ru_RU yo"

PLUGIN_NAME="PublishPress Checklists"
PLUGIN_TYPE="FREE"
PLUGIN_COMPOSER_PACKAGE="publishpress/publishpress-checklists"

TERMINAL_IMAGE_NAME="publishpress/dev-workspace-terminal:node-25"
WP_IMAGE_NAME="publishpress/dev-workspace-wordpress:wordpress-6.9-php-8.5"
WPCLI_IMAGE_NAME="publishpress/dev-workspace-wpcli:wpcli-2-php-8.5"