# Version Control
.git
.svn

# IDE
.idea

# Build Artifacts
/build
/dist
/svn

# Dependencies
/node_modules
/vendor

# Cache
/cache/*

# Miscellaneous
.DS_Store
.properties.ini
wpcom-helper.php
CONTRIBUTING.md
builder.yml
.env.testing
/bin
/local.sh
/packages
/lib/**/.git
