.pp-checklist-req.status-yes * {
	color: #cacaca;
}

.pp-checklist-small-input {
	width: 70px;
}

.pp-checklist-action-label {
	margin-left: 10px;
}

.pp-checklist-modal-list {
	text-align: center;
}

.pp-checklist-modal-list ul {
	text-align: left;
	list-style: square;
    display: inline-block;
}