.editor-post-publish-button {
    margin-left: 40px !important;
    position: relative;
}

.editor-post-publish-button::before {
    position: absolute;
    top: 0;
    left: -36px;
    line-height: 30px;
    content: "!";
    background-color: red;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    font-weight: bold;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 23px;
    text-shadow: none;
}
